[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "public"]
	path = public
	url = https://github.com/dguijo/dguijo.github.io.git
	branch = master
[submodule "public/dguijo.github.io"]
	path = public/dguijo.github.io
	url = https://github.com/dguijo/dguijo.github.io.git
	branch = master
